.modal-fade-in {
    animation-name: fade-in;
    animation-duration: .5s;
}

.modal-fade-out {
    animation-name: fade-out;
    animation-duration: .4s;
}

.modal-redux {
    animation-name: redux;
    animation-duration: 2s;
    animation-timing-function: linear;
    width: 0%;
}

@keyframes fade-in {
    0% {
        transform: scale(80%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        transform: scale(100%);
        opacity: 100%;
    }
}


@keyframes fade-out {
    0% {
        opacity: 100%;
        transform: scale(100%);
    }

    100% {
        opacity: 0%;
        transform: scale(80%);
    }
}

@keyframes redux {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}