@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

* {
    font-family: 'Inter';
}

.load-bar {
    background-color: #34d399;
    position: absolute;
    top: 0;
    left: 0;
}

.load_anim {
    width: 30%;
    animation-name: load;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.close_anim {
    animation-name: close;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes load {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes close {
    0% {
        width: 30%;
        opacity: 100%;
    }

    100% {
        width: 100%;
        opacity: 0%;
        transform: scaleY(200%);
    }
}