@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(30 41 59);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(16 185 129);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(4 120 87);
}